/*CSS Styling*/

/*Pluss figuren posisjon*/
.pluss img {
    bottom: 675px;
    left: 450px;
    position: relative;
    z-index: +1;
}

/*Minus figuren posisjon*/
.minus img {
    position: relative;
    bottom: 500px;
    left: 460px;
    z-index: +1;
}

/*Tallet i midten av pluss og minus*/
p {
    position: relative;
    font-size: 48px;
    z-index: +1;
    top: 490px;
    left: 540px;
    color: white;
}

/*Dette er "oransje" fargen som skal endres farge på hver gang vi kommer på et rundt tall*/
.grab-me { 
    position:absolute;
    width: 500px;
    height: 200px;
    top: 450px;
    left: 278px;
    radius: 52px;
    background: #f87429;
    border-radius: 52px;
}

.pluss img:hover {
    cursor: pointer;
}

.minus img:hover {
    cursor: pointer;
}

.minus-btn {
    position: fixed;
    font-size: 100px;
    margin-left: 490px;
    top: 560px;
    z-index: +2; 
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
    color: transparent;      
}

input {
    position: relative;
    font-size: 48px;
    max-width: 100px; 
    margin-left: 260px;
    background-color: transparent;
    background-repeat:no-repeat;  
    border: none;
    color: white;
    bottom: 50px;
}


.add-btn {
    position: fixed;
    font-size: 100px;
    margin-left: 500px;
    top: 200px;
    z-index: +10;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
    color: transparent;   
}