/*CSS Styling*/

/*Pluss figure position*/
.pluss img {
    bottom: 675px;
    left: 450px;
    position: relative;
    z-index: +1;
}

/*Minus figure position*/
.minus img {
    position: relative;
    bottom: 500px;
    left: 460px;
    z-index: +1;
}

/*This paragraph is actually not in use anymore, this is from a earlier attempt*/
p {
    position: relative;
    font-size: 48px;
    z-index: +1;
    top: 490px;
    left: 540px;
    color: white;
}

/*This is the orange rectangle thats supposed to change color every 10th number*/
.grab-me { 
    position:absolute;
    width: 500px;
    height: 200px;
    top: 450px;
    left: 278px;
    radius: 52px;
    background: #f87429;
    border-radius: 52px;
}
/*Hover effect for pluss btn*/
.pluss img:hover {
    cursor: pointer;
}
/*Hover effect for minus btn*/
.minus img:hover {
    cursor: pointer;
}

/* Hidden minus button w/ z-index*/
.minus-btn {
    position: fixed;
    font-size: 100px;
    margin-left: 490px;
    top: 560px;
    z-index: +2; 
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
    color: transparent;      
}
/*Input (Only the number is shown in HTML, rest of input is 'hidden'*/
input {
    position: relative;
    font-size: 48px;
    max-width: 100px; 
    margin-left: 260px;
    margin-bottom: 900px;
    background-color: transparent;
    background-repeat:no-repeat;  
    border: none;
    color: white;
    bottom: 50px;
}

/*Hidden pluss button w/ z-index*/
.add-btn {
    position: fixed;
    font-size: 100px;
    margin-left: 500px;
    top: 200px;
    z-index: +10;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
    color: transparent;   
}
