/*CSS Styling*/

.pluss img {
    bottom: 675px;
    left: 450px;
    position: relative;
    z-index: +1;
}

.minus img {
    position: relative;
    bottom: 500px;
    left: 460px;
    z-index: +1;
}

p {
    position: relative;
    font-size: 48px;
    z-index: +1;
    top: 440px;
    left: 540px;
    color: white;
}

.grab-me { 
    position:absolute;
    width: 500px;
    height: 200px;
    top: 300px;
    left: 278px;
    radius: 52px;
    background: #f87429;
    border-radius: 52px;
}